body {
  margin: 0;
  padding: 0;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #000000, #6b00b3);
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.brand {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
}

.menuItem {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
}

.menuItem:hover {
  color: #e5a5ff;
}

.ctaButton {
  background-color: #e5a5ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.ctaButton:hover {
  background-color: #6b00b3;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
}
